modules = ["dart-3.8", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["flutter"]

[workflows]
runButton = "Flutter Dev Server"

[[workflows.workflow]]
name = "Flutter Dev Server"
author = 47045408
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter run --web-port=5000 --web-hostname=0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
